.searchBox {
    margin-top: 5px;;
    border : solid 2px gray;
    border-radius: 5px;;
}

.searchIcon {
    margin-left: 5px;;
    padding : 10px 10px;
    border-radius: 5px;
}

.searchIcon:hover {
    background-color: #F14060;
}
