.header {
    background-color: #fff;
    border: none;
    padding : 5px 0px;
    margin : auto;
    align-content: center;
    align-items: center;
} 

.logo-container {
    align-items: center;
    font-weight: 700;
}

.searchInput {
    padding-left: 15px;
    border: solid 2px rgb(128, 128, 128);
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px;
}

.searchInput:active {
    border: solid 2px orange;
}

.searchButton {
    padding : 10px 10px;
    color : #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border : solid 0px gray;
    background-color: rgb(255, 122, 14);
}

.bi-search {
    color : white;
}

.pageList li {
    padding : 10px 14px;
   
    font-size: 16px;
}

.pageList li:hover {

    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 122, 14);
}

.nav-items {
    display : flex;
    align-items: center;
}

.login {
    width : 100px;
    padding : 7px 16px;
    border : solid 2px gray;
    border-radius: 5px;
    cursor: pointer;
}
