.restaurantCard {
    border-radius: 20px;
    
}

.restaurantCard:hover {
   /* position: absolute; */
   /* /* transform: scale(1.5);
  transform: scale3d(1.5); */
  /* transition: all 3s; */ 
}

.restaurantCard .resBanner {
    border-radius: 15px;
}

.restaurantCard .title {
    font-weight: 600;
}

.restaurantCard .rating {
    background-color: rgb(39, 221, 39);
    border-radius: 50%;
}